<!--<?xml version="1.0" encoding="UTF-8"?>-->
<!--<!DOCTYPE generatorConfiguration PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"-->
<!--        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">-->
<!--<generatorConfiguration>-->
<!--    &lt;!&ndash; home &ndash;&gt;-->
<!--    &lt;!&ndash;    <classPathEntry location="C:\maven_repository\mysql\mysql-connector-java\5.1.46\mysql-connector-java-5.1.46.jar"/>&ndash;&gt;-->

<!--    &lt;!&ndash; company &ndash;&gt;-->
<!--    <classPathEntry location="D:\mavenRepo\mysql\mysql-connector-java\5.1.46\mysql-connector-java-5.1.46.jar"/>-->

<!--    <context id="context1">-->
<!--        &lt;!&ndash; 去掉自动生成的注释 &ndash;&gt;-->
<!--        <commentGenerator>-->
<!--            <property name="suppressDate" value="true"/>-->
<!--            <property name="suppressAllComments" value="true"/>-->
<!--        </commentGenerator>-->

<!--        <jdbcConnection connectionURL="jdbc:mysql://localhost:3306/examination" driverClass="com.mysql.jdbc.Driver"-->
<!--                        password="root" userId="root"/>-->

<!--        &lt;!&ndash; bean&ndash;&gt;-->
<!--        <javaModelGenerator targetPackage="com.example.examination.entity" targetProject="src\main\java"/>-->

<!--        &lt;!&ndash; xml &ndash;&gt;-->
<!--        <sqlMapGenerator targetPackage="mapper" targetProject="src\main\resources"/>-->

<!--        &lt;!&ndash; dao &ndash;&gt;-->
<!--        <javaClientGenerator targetPackage="com.example.examination.dao" targetProject="src\main\java"-->
<!--                             type="XMLMAPPER"/>-->

<!--        &lt;!&ndash;        <table tableName="user" domainObjectName="User" enableCountByExample="false" enableUpdateByExample="false"&ndash;&gt;-->
<!--        &lt;!&ndash;               enableDeleteByExample="false" enableSelectByExample="false" selectByExampleQueryId="false">&ndash;&gt;-->
<!--        &lt;!&ndash;        </table>&ndash;&gt;-->
<!--        &lt;!&ndash;        <table tableName="examination" domainObjectName="Examination" enableCountByExample="false"&ndash;&gt;-->
<!--        &lt;!&ndash;               enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"&ndash;&gt;-->
<!--        &lt;!&ndash;               selectByExampleQueryId="false">&ndash;&gt;-->
<!--        &lt;!&ndash;        </table>&ndash;&gt;-->
<!--        &lt;!&ndash;                <table tableName="paper" domainObjectName="Paper" enableCountByExample="false"&ndash;&gt;-->
<!--        &lt;!&ndash;                       enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"&ndash;&gt;-->
<!--        &lt;!&ndash;                       selectByExampleQueryId="false">&ndash;&gt;-->
<!--        &lt;!&ndash;                </table>&ndash;&gt;-->
<!--        &lt;!&ndash;        <table tableName="publish" domainObjectName="Publish" enableCountByExample="false"&ndash;&gt;-->
<!--        &lt;!&ndash;               enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"&ndash;&gt;-->
<!--        &lt;!&ndash;               selectByExampleQueryId="false">&ndash;&gt;-->
<!--        &lt;!&ndash;        </table>&ndash;&gt;-->
<!--                <table tableName="reply" domainObjectName="Reply" enableCountByExample="false"-->
<!--                       enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"-->
<!--                       selectByExampleQueryId="false">-->
<!--                </table>-->
<!--        &lt;!&ndash;        <table tableName="class" domainObjectName="Class" enableCountByExample="false"&ndash;&gt;-->
<!--        &lt;!&ndash;               enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"&ndash;&gt;-->
<!--        &lt;!&ndash;               selectByExampleQueryId="false">&ndash;&gt;-->
<!--        &lt;!&ndash;        </table>&ndash;&gt;-->
<!--        &lt;!&ndash;        <table tableName="uid_cid" domainObjectName="UidCid" enableCountByExample="false"&ndash;&gt;-->
<!--        &lt;!&ndash;               enableUpdateByExample="false" enableDeleteByExample="false" enableSelectByExample="false"&ndash;&gt;-->
<!--        &lt;!&ndash;               selectByExampleQueryId="false">&ndash;&gt;-->
<!--        &lt;!&ndash;        </table>&ndash;&gt;-->
<!--    </context>-->
<!--</generatorConfiguration>-->
