<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.examination.dao.ExaminationMapper">
    <resultMap id="BaseResultMap" type="com.example.examination.entity.Examination">
        <id column="id" jdbcType="INTEGER" property="id"/>
        <result column="answer" jdbcType="VARCHAR" property="answer"/>
        <result column="content" jdbcType="VARCHAR" property="content"/>
        <result column="creator_id" jdbcType="INTEGER" property="creatorId"/>
        <result column="difficulty" jdbcType="INTEGER" property="difficulty"/>
        <result column="type" jdbcType="INTEGER" property="type"/>
        <result column="score" jdbcType="INTEGER" property="score"/>
    </resultMap>
    <sql id="Base_Column_List">
    id, answer, content, creator_id, difficulty, type,score
  </sql>
    <select id="count" resultType="Integer">
        select count(*) from examination
        <where>
            <if test="type!=null">type = #{type}</if>
            <if test="difficulty!=null">and difficulty = #{difficulty}</if>
            <if test="creatorId!=null">and creator_id = #{creatorId}</if>
        </where>
    </select>
    <select id="select" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from examination
        <where>
            <if test="type!=null">type = #{type}</if>
            <if test="difficulty!=null">and difficulty = #{difficulty}</if>
            <if test="creatorId!=null">and creator_id = #{creatorId}</if>
        </where>
        order by id desc
        <if test="pageNo != null and pageSize != null">
            limit ${(pageNo-1)*pageSize},#{pageSize}
        </if>
    </select>
    <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from examination
        where id = #{id,jdbcType=INTEGER}
    </select>
    <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from examination
    where id = #{id,jdbcType=INTEGER}
  </delete>
    <insert id="insert" parameterType="com.example.examination.entity.Examination">
    insert into examination (id, answer, content, 
      creator_id, difficulty, type,score
      )
    values (#{id,jdbcType=INTEGER}, #{answer,jdbcType=VARCHAR}, #{content,jdbcType=VARCHAR}, 
      #{creatorId,jdbcType=INTEGER}, #{difficulty,jdbcType=INTEGER}, #{type,jdbcType=INTEGER},#{score,jdbcType=INTEGER}
      )
  </insert>
    <insert id="insertSelective" parameterType="com.example.examination.entity.Examination">
        insert into examination
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="answer != null">
                answer,
            </if>
            <if test="content != null">
                content,
            </if>
            <if test="creatorId != null">
                creator_id,
            </if>
            <if test="difficulty != null">
                difficulty,
            </if>
            <if test="type != null">
                type,
            </if>
            <if test="score != null">
                score,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=INTEGER},
            </if>
            <if test="answer != null">
                #{answer,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                #{content,jdbcType=VARCHAR},
            </if>
            <if test="creatorId != null">
                #{creatorId,jdbcType=INTEGER},
            </if>
            <if test="difficulty != null">
                #{difficulty,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                #{type,jdbcType=INTEGER},
            </if>
            <if test="score != null">
                #{score,jdbcType=INTEGER},
            </if>
        </trim>
    </insert>
    <update id="updateByPrimaryKeySelective" parameterType="com.example.examination.entity.Examination">
        update examination
        <set>
            <if test="answer != null">
                answer = #{answer,jdbcType=VARCHAR},
            </if>
            <if test="content != null">
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="creatorId != null">
                creator_id = #{creatorId,jdbcType=INTEGER},
            </if>
            <if test="difficulty != null">
                difficulty = #{difficulty,jdbcType=INTEGER},
            </if>
            <if test="type != null">
                type = #{type,jdbcType=INTEGER},
            </if>
            <if test="score != null">
                score = #{score,jdbcType=INTEGER},
            </if>
        </set>
        where id = #{id,jdbcType=INTEGER}
    </update>
    <update id="updateByPrimaryKey" parameterType="com.example.examination.entity.Examination">
    update examination
    set answer = #{answer,jdbcType=VARCHAR},
      content = #{content,jdbcType=VARCHAR},
      creator_id = #{creatorId,jdbcType=INTEGER},
      difficulty = #{difficulty,jdbcType=INTEGER},
      type = #{type,jdbcType=INTEGER},
      score = #{score,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>